body {
  background-color: #C5EAFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70vw;
}

header {
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border: 2px black solid;
  padding: 1%;
  gap: 1vw;
}

.header-image {
  max-width: 11%;
  height: auto;
}

.header-title {
  background-color: #C5CDFF;
  border: 2px black solid;
  padding: 2% 6%;
  border-radius: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding: 3%;
  flex-basis: 15%;
  background-color: #C5CDFF;
  border: 2px black solid;
  min-height: 60vh;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: x-large;
}

a:hover {
  color: #B45D2C;
}

.content {
  flex: 1;
  background-color: #B0EDE4;
  border: 2px black solid;
  padding: 3% 5%;
}

.content > p {
  font-size: large;
  text-align: justify;
}

footer {
  border: 2px black solid;
  background-color: white;
  flex-basis: 100%;
  padding: 1%;
}