<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
      <div class="header-title">
        <a href="/"><h1>British Aviation of the Cold War Era</h1></a>
      </div>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
    </header>
    
    <nav>
      <a href="/canberra">Canberra</a><br/>
      <a href="/hunter">Hunter</a><br/>
      <a href="/lincoln">Lincoln</a><br/>
      <a href="/meteor">Meteor</a><br/>
      <a href="/valiant">Valiant</a><br/>
      <a href="/venom">Venom</a>
    </nav>
    
    <div class="content">
      <div class="content-text">
        <h2>Welcome to my new page!</h2>
        <p>
          The Royal Air Force played a pivotal role in one of the most intense and intriguing periods of modern history, and we're here to take you on an exciting journey through that era. Explore the pages of our site to delve into the fascinating world of aircraft that were at the forefront of the Cold War, including iconic fighters, bombers, reconnaissance planes, and more. Our collection of articles provides in-depth insights into the technology, strategies, and history of these remarkable machines. Whether you're a history enthusiast, aviation buff, or simply curious about this era, our website offers a treasure trove of information and captivating stories about the RAF's vital contributions to the Cold War. So, fasten your seatbelt, and let's embark on a journey through history together.
        </p>
        <p>
          Navigate to the links on the left and select the machine that piques your interest the most.
        </p>
      </div>
    </div>
    
    <footer>
      @2023 Piotr Wojcieszak 
    </footer>

  </div>
      
</body>
</html>