<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
      <div class="header-title">
        <a href="/"><h1>British Aviation of the Cold War Era</h1></a>
      </div>
      <img src="images/raf.png" alt="RAF Roundels" class="header-image">
    </header>
    
    <nav>
      <a href="/canberra">Canberra</a><br/>
      <a href="/hunter">Hunter</a><br/>
      <a href="/lincoln" class="selected">Lincoln</a><br/>
      <a href="/meteor">Meteor</a><br/>
      <a href="/valiant">Valiant</a><br/>
      <a href="/venom">Venom</a>
    </nav>
    
    <div class="content">
        <div class="content-text">
            <h2>Avro Lincoln</h2>
            <hr>
            <p>
                The Lancaster IV was a powerful beefed-up Lancaster, that emerged so different from the baseline Lanc it merited a new name. It first flew in 1944 and entered service in 1945, missing the Second World War. Nearly 600 Lincolns were built to equip a total of 29 RAF squadrons, most of which were based in the UK. During the 1950s, RAF Lincolns participated in active combat missions in Kenya against Mau-Mau insurgents, where the British met demands for greater freedom with crushing violence, including torture and mass executions.
            </p>
            <p>
                In 1952 the bomber had the advantage over the interceptor. The alarming reality of this was made clear in the massive training exercise Operation Ardent in the UK. In the exercise Avro Lincolns (as well as Boeing Washington) bombers simulated Soviet Tupolev Tu-4 bombers. Facing them, defence forces consisted of the Gloster Meteor and de Havilland Vampire day and night fighters, RCAF Canadair Sabres and USAF F-86s. The bombers did very well, all too often proving immune from interception.
            </p>
        </div>
        <div class="content-card">
            <img src="images/lincoln.webp" alt="Lincoln image">
            <table>
                <th colspan="2">Lincoln B Mk II</th>
                <tr>
                    <td>Engine</td>
                    <td>4 х Rolls-Royce Merlin-68A</td>
                </tr>
                <tr>
                    <td>Max speed</td>
                    <td>513 km/h</td>
                </tr>
                <tr>
                    <td>Max altitude</td>
                    <td>9 296 m</td>
                </tr>
            </table>
        </div>
        <div>
            <p>
                However, they were not always safe in reality. On 12 March 1953, an RAF Lincoln was shot down 20 miles (32 km) North East of Lüneburg, Germany by several Soviet MiG-15s. The Lincoln was flying to Berlin on a radar reconnaissance flight. All seven crew members were killed.
            </p>
            <p>
                If the British actions in Malaya can be seen as akin to US actions in Vietnam on a smaller scale then the Lincoln was very much the ‘B-52’ of Malaya. ‘Operation Firedog’ began in July 1948 with the formation of an RAF Task Force at Kuala Lumpur. Muscle came in the form of Lincolns, initially from 57 Squadron. On 15 March 1950, at a time when the British position was looking perilous, eight Lincolns arrived at Tengah. Communist forces in the jungle were small and mobile, and the RAF responded with the brute force of area bombing often in support of special forces. Lincolns were responsible for the bulk of RAF offensive operations in Malaya.
            </p>
        </div>
    </div>
    
    <footer>
      @2023 Piotr Wojcieszak 
    </footer>

  </div>
      
</body>
</html>