body {
  background-color: #C5EAFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70vw;
}

header {
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border: 2px black solid;
  padding: 1%;
  gap: 1vw;
}

.header-image {
  max-width: 11%;
  height: auto;
}

.header-title {
  background-color: #C5CDFF;
  border: 2px black solid;
  padding: 2% 6%;
  border-radius: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
  padding: 3%;
  flex-basis: 10%;
  background-color: #C5CDFF;
  border: 2px black solid;
  min-height: 60vh;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: x-large;
}

a:hover {
  color: #B45D2C;
}

.selected {
  color: #B45D2C;
}

.selected:hover {
  color: #a87d63;
}

.content {
  flex: 1;
  background-color: #B0EDE4;
  border: 2px black solid;
  padding: 3% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start ;
}

.content p {
  font-size: large;
  text-align: justify;
}

.content-text {
  flex: 5;
}

.content-text > h2 {
  text-align: left;
}

hr {
  height:2px;
  border-width:0;
  background-color:black;
}

.content-card {
  flex: 1;
  border: 1px black solid;
  padding: 1%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 7% 0% 0% 4%;
}

.content-card img {
  max-width: 30vh;
  height: auto;
  border: 1px black solid;
}

table, th, td{
  border: 1px black solid;
  border-collapse: collapse;
}

table {
  width: 100%;
}

footer {
  border: 2px black solid;
  background-color: white;
  flex-basis: 100%;
  padding: 1%;
}

/* Login */
.login-button {
  background-color: #B45D2C;
  border-color: rgb(0, 0, 66);
  margin-top: auto;
}

.login-label:hover {
  color:black;
}

.option {
  width: 95%;
  margin: 2%;
}

.form-button {
  width: 100%;
}

.form {
  margin: 10% auto;
}

.warning {
  color: red;
}

/* Comments */
.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5%;
}

.comments-form {
  margin-bottom: 3%;
}

.comments-form a {
  color: blue;
}

.comments-form a:hover {
  color: rgb(153, 100, 2);
}

.comments textarea {
  width: 98%;
  min-height: 75px;
}

.comment {
  text-align: left;
  background-color: #7c6c63;
  border: 1px black solid;
  border-radius: 3px;
  margin: 7px;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
}

.deleteComment button{
  background-color: rgb(187, 17, 17);
}

.comment h3 {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 85vw;
  }

  nav {
    min-height: fit-content;
    flex-basis: 100%;
  }  
}

@media only screen and (max-width: 1200px) {
  .content {
    align-items: stretch;
    justify-content: center;
  }

  .content-card {
    order: -1;
    flex-basis: 100%;
    align-items: stretch;  
    justify-content: stretch;
    max-width: fit-content;
    padding: 0%;
    margin: 0;
  }

  .content-card img {
    max-width: none;
    width: 100%;
  }
}